.{
    margin: 0in;
    padding: 0in;
}
body{
    height: 100vh;
    display: flex;
    justify-content: first baseline;
    align-items: flex-start;
    background-color: #10101e;
}
.datetime{
    color: lavenderblush;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 340px;
    padding: 30px 12px;
    border: 3px solid blue;
    border-radius: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(255,255,255,0.1));
    transition: 0.5s;
    transition-property: background,box-shadow;
}
.datetime:hover{
background: #2E94E3;
box-shadow: #2E94E3;
}
.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    text-align: center;
    letter-spacing: 3px;
}
.time span:last-child{
    background: #2E94E3;
    font-size: 20px;
    font-weight: 600px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0  5px;
    border-radius: 3px;
}